<footer class="site-footer">
  <p>
    <b>Maintained by 100Pals</b>
    Join us on Discord:
    <a href="https://discord.gg/100Pals" target="_blank" class="discordonline">
      <img src="https://discordapp.com/api/guilds/71459914232365056/widget.png" alt="Join us on Discord!">
    </a>
  </p>
  <p>
    <i>&copy; 2015-2020 100Pals</i>
  </p>
</footer>
